body {
  background-image: url(https://images.alphacoders.com/667/667442.jpg);
  background-size: cover;
  text-align: center;
}
  
.title {  
  font-size: 28px;
  padding: 18px;
  border: none;
  background-color:black;
  margin-top: 0%;
}

.text {
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;    
}
  
.subtitle {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}
  
.user-offset {
  height: 20px;
  width: 80px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: black;      
}

.input-style {
  resize: none;
  border: none;
  border-radius: 20px;
  color: black;
  margin-top: 15px;
}
  
.button-grey {
  background-color: grey;
  border: none;
  border-radius: 20px;
  padding: 10px;
}
  
.button-red {
  margin-top: 10px;
  background-color: red;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

textarea::placeholder {
    padding: 10px;  
  }
  